<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    {{> title}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
    {{!-- <link type="text/css" href="../../resources/css/style.css" rel="stylesheet"/>  --}}
    <style>
        .prefs:empty:before {
            font-style: italic;
            color: gray;
            content: 'No courses selected';
        }
        .saved:empty:before {
            font-style: italic;
            color: gray;
            content: 'None saved';
        }
        #search-table-container {
            position: absolute;
            top: 110%;
            width: 100%;
            max-height: 10em;
            overflow: scroll;
        }
        .search-empty {
            font-style: italic;
            color: gray !important;
        }
    </style>
</head>

<body class="h-100 d-flex flex-column"> </body>
{{> nav}}