{{#if message}}
  <div class="alert alert-{{#if error}}danger{{else}}success{{/if}}" id="message" role="alert">
    {{{ message }}}
  </div>
{{else}}
  <div class="alert alert-danger" id="message" role="alert" style="display:none;"></div>
{{/if}}