<html>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <a class="navbar-brand" href="/"></a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <!-- This is the dropdown menu for the user that will redirect to the different pages of the website -->
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/profile">Profile</a>
                            <a class="dropdown-item" href="/home">Home</a>
                            <a class="dropdown-item" href="/classes">Classes</a>
                            <!-- username may be subject to change, This just checks if the user is logged in then give them logout
                                and if user is not logged in then give them the login option -->
                            {{#if username}}
                            <a class="dropdown-item" href="/logout">Logout</a>
                            {{else}}
                            <a class="dropdown_item" href="/login">Login</a>
                            {{/if}}
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <h6>Study Sphere</h6>
                </li>
            </ul>
        </div>


        <div class="navbar-collapse collapse order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <!-- Display the users username on the nav-bar -->
                    <a class="nav-link" href="#">
                        {{username}}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>


</html>
