<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
    <a class="navbar-brand" href="/">
        <strong style="color:rgb(181, 235, 235);">Study Sphere</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
            <!-- This is the dropdown menu for the user that will redirect to the different pages of the website -->
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:rgb(181, 235, 235);">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/">Home</a>
                    <a class="dropdown-item" href="/profile">Profile</a>
                    <!-- username may be subject to change, This just checks if the user is logged in then give them logout
                        and if user is not logged in then give them the login option -->
                    <a class="dropdown-item" href="/login">Login</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                    <a class="dropdown-item" href="/register">Register</a>
                </div>
            </li>
        </ul>
    </div>
</nav>