<div class="topnav">
  <div class="search-container">
    <form action="/search" method="GET">
      <input type="text" placeholder="Search.." name="search" required>
      <button type="submit" style="color:blueviolet">Search</button>
    </form>
  </div>
</div> 