<!--{{#if username}}
  <title> {{username}} - CSCI 3308 Lab 8 </title>
  {{else}} -->
<title>Study Sphere</title>
<!--{{/if}} I figure we can add the Username to the title if we do so choose but for the time being I dont see the need.
--> 