body{
    background-color: rgba(82, 80, 80, 0.986);
}
.c{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color:rgb(181, 235, 235);
}/* This simply forces the element to be center aligned and aligns the text to the center */
.form-control {
    margin-bottom: 15px;
    display: block;      
    width: 100%;
    color:rgb(181, 235, 235);
}
.form-labelL {
    text-align: left;  
    display: block;     
    margin-bottom: 5px; 
} /* This just positions the text of the label to the left atop the buttons */
a:active{
    color:rgb(197, 53, 173);
}
a:visited{
    color:rgb(90, 25, 79);
}
.btn-solo {
    --bs-btn-font-weight: 600;
    --bs-btn-color: #ffffff; 
    --bs-btn-bg: #6c63ff; 
    --bs-btn-border-color: #6c63ff;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #5a54e0; 
    --bs-btn-hover-border-color: #5a54e0;
    --bs-btn-focus-shadow-rgb: 108, 99, 255;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #504ac0;
    --bs-btn-active-border-color: #504ac0;
  }
  
/* .btn-primary {
    background-color: darkorchid !important;
} */