{{> nav}}

<h1>Home Page</h1>

{{!-- create class form --}}
<div class="mb-3" id="create_class_form" hidden="true">
    <label for="class_name" class="form-label">Class Name</label>
    <input type="text" class="form-control" id="class_name" name="class">
    <br>
    <button id="create_class_submit_button" type="submit" action="/createClass" method="GET">Create Class</button> <button id="cancel" onclick="create_class_form.hidden=true">Cancel</button>
</div>

{{!-- {{#if username}} --}}
<button id="create_class_button" type="button" align="left" onclick="create_class_form.hidden=false">Create Class</button>
{{!-- {{/if}} --}}