<div class="container-fluid d-flex flex-column align-items-center mt-4">
  <h1>
    Logout successful.
  </h1>
  <h4>We hope you come back soon, {{oldUser}}!</h4>
  <p>Head back to the <a href="/login">login</a> page.</p>
</div>