<div class="container-fluid d-flex flex-column w-100 p-4">
    <h1>Welcome, {{user.username}}</h1>
    <ul class="nav nav-tabs mt-2">
        <li class="nav-item">
            <a class="nav-link active" href="#">Update Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile/classes">Classes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile/bookmarks">Bookmarked Questions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile/asked">Asked Questions</a>
        </li>
    </ul>
    <div class="container-fluid w-25 mt-3">
        <h2>Update Your Profile</h2>
        {{> message}}
        <h4>Change password</h4>
        <form action="/profile/update" method="POST" class="w-100">
            <div class="form-group mb-3">
                <label for="pasword" class="form-label">Old password</label>
                <input type="password" name="oldPwd" placeholder="Enter old password" required class="form-control"/>
            </div>
            <div class="form-group mb-3">
                <label for="pasword" class="form-label">New password</label>
                <input type="password" name="newPwd" placeholder="Enter a password" required class="form-control"/>
            </div>
            <div class="form-group mb-3">
                <label for="pasword" class="form-label">Confirm new password</label>
                <input type="password" name="confirmNewPwd" placeholder="Enter a password" required class="form-control"/>
            </div>
            <div class="form-group mb-3">
                <button type="submit" class="btn w-100 btn-danger form-control">Change password</button>
                <small class="form-text text-muted">Make sure you remember your new password!</small>
            </div>
        </form>
    </div>
</div>